$ curl -i -X POST \
  --url http://localhost:8001/apis/ \
  --data 'name=example-service' \
  --data 'url=http://localhost:3000/examples/example'

  $ curl -i -X POST \
    --url http://localhost:8001/apis/example-service/routes \
    --data 'hosts[]=localhost'

    $ curl -i -X GET \
  --url http://localhost:8000/ \
  --header 'Host: localhost'
